.product-detail-page {
  display: flex;
  color: white;
  padding: 2rem;
  background-color: #111;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 0 10px #000;
}

.image-section {
  flex: 1;
  padding-right: 2rem;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
}

.info-section {
  flex: 2;
}

.info-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-section p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.reviews-section {
  max-width: 50%;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  border-radius: 10px;
  color: white;
}

.reviews-section h2 {
  margin-bottom: 1rem;
  color: #4bb869;
}

.review-card {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.review-card:last-child {
  border-bottom: none;
}

.review-card .stars {
  color: gold;
}

.plain-link {
    text-decoration: none;
    color: inherit;
}

.review-form {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.review-form input,
.review-form textarea,
.review-form select {
  width: 100%;
  margin-bottom: 1rem;
}